<div class="contact-header">
    <h3 class="contact-title">Contact Book</h3>
    <span id="spacer"></span>
    <button mat-raised-button color="primary" class="add-user" [routerLink]="['/add']"> Add New</button>
</div>

<div *ngFor="let user of users | async">
    <mat-card  class="user-card">
        <mat-card-header>
          <mat-card-title>{{user.name}}</mat-card-title>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>Phone no: {{user.phone}}</p>
            <p>Country : {{user.country}}</p>
            <p>Status : {{user.status === true ? 'Active' : 'Deactive'}}</p>
            <p>Created at : {{user.created.toDate() | date:'dd/MM/yyyy'}}</p>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="updateUser(user.id)">Edit</button>
          <button mat-raised-button color="accent" (click)="deleteUser(user.id)">Delete</button>
        </mat-card-actions>
    </mat-card>    
</div>

